html{
  font-size: 10px;
  font-family: "Helvetcia", sans-serif;
}

header{
  display: flex;
  justify-content: center;
  background-color: gray;
}
header .logo{
  width: 15%;
}
header form{
  width: 80%;
}
.top-currencies{
  border: 1px solid red;
  background-color: grey;
}


tr{
  display: flex;
  background-color: white;
  margin-bottom:2px;
  font-size: 1.25rem;
}

td{
  width:33.3%;
}

table{
  margin: 20px 0;
}
.cName{
  margin-left: 2%;
}
.icons{
  width:5%;
  margin-right:2%;
}
.price{
  text-align: center;
}

.volume{
  text-align:right;
  margin-right: 2%;
}

.top-currencies{
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.news-articles article.article{
  width: 33.3%;
  border: 2px solid black;
  margin-right:2%;
}

.news-articles article.article img{
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
}

.news-articles{
  border: 1px solid blue;
  background-color: grey;
  display: flex;
  justify-content: space-between;
}

.landing{
  display: flex;
  flex-direction: column;
}

.upper-page{
  display: flex;
  justify-content: space-between;
}
.left-side{

  background-color: red;
}

.right-side{

  background-color:blue;

}
.btm-side{
  background-color:green;
}