html {
  font-size: 1vh;
  font-family: 'Share Tech Mono', monospace;

}

/*clearfix*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
  background-image: url("./assets/bg_hifi.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
}

/* header styles///////////////////////////////////////////////////////////////////////////*/
header {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  height: 12vh;
}

header .logo {
  width: 12vh;
  height: 90%;
}

.nav-btns {
  color: white;
  font-size: 1.5rem;
  width: 80vh;
  display: flex;
  align-items: center;
  margin: 1vh;
}

.nav-btn1, .nav-btn2, .about-btn {
  padding:50px 1.5em 50px 1.5em;
  cursor: pointer;
  text-align: center;

}
.nav-btn1:hover, .nav-btn2:hover, .about-btn:hover, a.logo:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
main {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 86.25%;
}

legend {
  color: white;
  font-size: 1.8rem;

}
a{
  color: white;
  text-decoration: none;
}
/* //////////////////////////////////////////////////////////////////////////////////// */
/* landing page search styles//////////////////////////////////////////////////////////*/
.search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top:10%;
}

fieldset {
  width: 80%;
  border: 0;
  display: flex;
  justify-content: center;
}
fieldset * {
  color: white;
  font-size: 1.5rem;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom:2vh;
}
option {
   background-color: #262626;
}

h1{
  color: white;
  font-size: 2.0rem;
  font-weight: bold;
}
.hidden {
  display: none;
}
input[type=text] {
  font-size: 2.0rem;
  color: white;
  background-color: transparent;
}
::placeholder {
  color: white;
  opacity: 0.7;
}
.table-info:hover, .table-info-all:hover {
  background-color: red;
}
.search-term, .search-ex, .search-xxx, .search-btn {
  width: 33.3%;
  border-radius: 5px;
  height: 5vh;
  background-color: transparent;
  font-size: 1.5rem;
  color: white;
  border: 2px solid #04548c;
}
.search-btn{
  background-color: #04548c;
}
.search-btn:hover{
  background-color: #0293f7;
}
fieldset span {
  width: 100%;
  font-size: 1.5rem;
  color: white;
}

select{
    text-align-last:center;
}

.search-term {
  text-transform: uppercase;
}
/* /////////////////////////////////////////////////////////////////////////////////// */


.landing {
  top: 10%;
  width: 90%;
  display: flex;
  justify-content: center;
  position: relative;
}

.landing section h2 {
  text-align: center;
  color:white;
}


/* All Coins page nav styles /////////////////////////////////////////////////////////*/
.previous-load, .next-load {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.index-nav {
  display: flex;
  justify-content: space-between;
}
/* /////////////////////////////////////////////////////////////////////////////////// */
section.all-currencies {
  width: 80%;
  display: flex;
  justify-content: center;
}
.all-currencies {
  margin: 0 auto;
  width: 66.6%;
  padding: 0;
}

.all-coins {
  min-width: 80%;
  max-width: 80%;
}
.main-table {
  padding: 0;
  font-size: 1.5rem;
  color: white;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
ol {
  list-style-type: none;
}
.about-page {
  color: white;
  font-size: 1.5rem;
}
tr {
  display: flex;
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1vh;
  border-radius: 0.5vh;
}

.table-info {
  font-size: 1.5rem;
  padding: 1vh;
  border: 0.1vh solid white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.table-info-all {
  font-size: 1.5rem;
  padding: 1vh;
  border: 0.1vh solid white;
  cursor: pointer;
  display: flex;
}

td {
  width:100%;
  max-width: 100%;
}

.cName {
  width: 33.3%;
  margin-left: 2%;
}

.icons {
  width:3rem;
  height: 3rem;
  margin-right:2%;
}
.top-c{
  width: 66.6%;
}
.icons2 {
  width:5rem;
  height: 5rem;
  margin-right:2%;
}

.price {
  width: 33.3%;
  text-align: center;
}

.volume {
  text-align:right;
  margin-right: 2%;
  width: 33.3%;
}

.top-currencies {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
}
li {
  color: white;
  list-style-type: none;
}
.search-results {
  margin: 0 auto;
  color: white;
  font-size: 1.5rem;
}

.search-btn {
  cursor: pointer;
}

.no-data {
  font-size: 1.5rem;
  color: white;
}

.back-btn, .refresh {
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
  max-height: 10%;
}

.about-page {
  font-family: 'Roboto', sans-serif;
}

.about-txt, h4.about-text {
  font-family: 'Share Tech Mono', monospace;

}
footer{
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  color: white;
}












/* canvas styling */
.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.25;
}