header{
  display: flex;
  justify-content: center;
  background-color: gray;
}

.top-currencies{
  border: 1px solid red;
  background-color: grey;
}

.icons{
  width: 25px;
}

img{
  width:200px;
}

.top-currencies{
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.news-articles{
  border: 1px solid blue;
  background-color: grey;
  display: flex;
  justify-content: space-between;
}